{% extends "baseweb.html.twig" %}
{% block body %}
    <body id="page5">
        <div class="main">
            <!-- content -->
            <article id="content">
                <h2 class="under">Recurso Humano</h2><br>
                <div class="wrapper">
                    <section class="cols11">
                        <h5><span class="dropcap"><strong></strong></span>Movimientos</h5>
                        <div class="wrapper pad_bot2"><br>
                            <li>Seleccion</li>    
                            <li>Seguridad social</li>  
                            <li>Contratacion</li>  
                            <li>Nomina</li>  
                            <li>Comercial</li>  
                            <li>Dotacion</li>  
                            <li>Salud ocupacional</li>  
                            <li>Informacion interna</li>  
                            <li>Recurso humano</li>  
                            <li>Control acceso</li>  
                        </div>
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Consultas</h5>
                        <div class="wrapper pad_bot2"><br>
                            <li>Aspirantes seleccion</li>    
                            <li>Adicionales al pago</li>  
                            <li>Costos</li>  
                            <li>Empleados</li>  
                            <li>Creditos</li>  
                            <li>Servicios</li>  
                            <li>Pagos</li>  
                            <li>Concepto de pago</li>  
                            <li>Seguridad social</li>  
                            <li>Prestaciones</li>  
                            <li>Seguridad social</li>  
                            <li>Acreditacion</li>  
                            <li>Dotacion</li>  
                            <li>Entidad Examen</li>
                            <li>sedes</li>  
                            <li>otros</li>  
                        </div>                
                    </section>
                    <section class="cols11 pad_left1">
                        <h5><span class="dropcap"><strong></strong></span>Administracion</h5>
                        <div class="wrapper pad_bot2"><br>
                            <li>Cliente</li>    
                            <li>Centro de trabajo</li>  
                            <li>Sucursal</li>  
                            <li>Grupo de pago</li>  
                            <li>Empleado</li>  
                            <li>Contratos</li>  
                            <li>General</li>  
                            <li>Contratacion</li>  
                            <li>Seguridad social</li>  
                            <li>Salud ocupacional</li>  
                            <li>Seleccion</li>  
                            <li>Acreditacion</li>  
                            <li>Dotacion</li>  
                            <li>Entidad Examen</li>
                            <li>sedes</li>  
                            <li>otros</li>  
                        </div>                
                    </section>
                </div>
            </article>
        </div>
    </body>
{% endblock %}

