{% extends "baseweb.html.twig" %}
{% block body %}
    <body id="page5">
        <div class="main">
            <!-- content -->
            <article id="content">
                <h2 class="under">Información Corporativa</h2>
                <div class="wrapper">
                    <section class="cols10">
                        <h3><span class="dropcap">A</span>Misión</h3><br><br>
                        <p class="pad_bot1">Somos una compañía que modela y diseña software con el mejor estándar de calidad para nuestros clientes, con el objetivo de mejorar su efectividad en sus procesos,  la operación  y la competitividad  en todo el territorio nacional.</p>                      
                    </section>
                    <section class="cols10 pad_left1">
                        <h3><span class="dropcap">B</span>Visión</h3><br><br>
                        <p class="pad_bot1">Para el año 2018, APP SOGA SAS será la principal compañía en diseño de software para el sector de seguridad privada, respetando los principios y las normas constitucionales. Esta labor se debe desempeñar de forma ética y con un personal altamente calificado e idóneo para cada tarea.</p>
                    </section>
                </div><br>
                <h2 class="under">Valores Corporativos</h2>
                <div class="wrapper">
                    <section class="cols11">
                        <h3><span class="dropcap">A</span>Calidad</h3><br><br>
                        <p class="pad_bot1">La calidad en los servicios informáticos, es el compromiso que caracteriza la acción de las personas que componen a APP SOGA SAS. Calidad en el diseño, en los procesos, en los procedimientos y en la gestión total tanto interna como externa.</p>
                    </section>
                    <section class="cols11 pad_left1">
                        <h3><span class="dropcap">B</span>Trabajo<span>en equipo</span></h3><br>
                        <p class="pad_bot1">Con el aporte de todos los que intervienen en los diferentes procesos de APP SOGA SAS buscamos el logro de los objetivos organizacionales.</p>
                    </section>
                    <section class="cols11 pad_left1">
                        <h3><span class="dropcap">C</span>Respecto</h3><br><br>
                        <p class="pad_bot1">Escuchamos, entendemos y valoramos al ser, buscando armonía en las relaciones comerciales, interpersonales y laborales.</p>
                    </section>
                </div><br>
                <div class="wrapper">
                    <section class="cols11">
                        <h3><span class="dropcap">D</span>Innovación</h3><br><br>
                        <p class="pad_bot1">Nos permite ser creativos, dinámicos  y positivos generando ideas de productividad y soluciones integrales a nuestros clientes y el entorno social.</p>
                    </section>
                    <section class="cols11 pad_left1">
                        <h3><span class="dropcap">E</span>Responsabilidad</h3><br><br>
                        <p class="pad_bot1">Obramos con seriedad, en consecuencia con nuestros deberes y derechos como empleados, acorde con nuestro compromiso con la empresa y los clientes.</p>
                    </section>
                </div>
            </article>
        </div>
    </body>
{% endblock %}

