{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Inicio
                    </div>
                    <div class="panel-body">
                        <section class="content">
                            <div class="jumbotron">
                                <h2>Reos</h2>
                                <p>
                                    Es un software que permite al equipo de trabajo de soga, administrar, optimizar y generar soluciones efectivas a los clientes.<br>
                                    Permitiendo la administraci&oacute;n de los incidentes generados, las mejoras realizadas a las diferentes plataformas y administraci&oacute;n interna del grupo de trabajo para la asignaci&oacute;n de tareas.
                                </p>
                            </div>      
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

